<template>
    <div id="app">
        <div style="width: 200px;">
            <lb-vue-select
            v-model="value"
            :list="list"
            display-field="value"
            value-field="key"
            :multiselect="true"
            selectAll="Select all"
            allSelectedText="All options selected"
            :empty="true"
            :searchBox="true"
            search-placeholder="Search"
            items-placeholder="Items per page"></lb-vue-select>
        </div>
        <div style="width: 200px; margin-top: 50px;">
            <lb-vue-select
            v-model="value"
            :list="paginatedList"
            display-field="value"
            value-field="key"
            :multiselect="true"
            selectAll="Select all"
            allSelectedText="All options selected"
            :empty="true"
            :pagination="pagination"
            :totalCount="100"
            search-placeholder="Search"
            items-placeholder="Items per page"></lb-vue-select>
            <button v-on:click="generateRandomList">Generate random list</button>
        </div>
    </div>
</template>

<script>

export default {
    name: 'app',
    data()
    {
        return {
            value: '1',
            totalCount: 300,
            list: [
                {
                    key: '1',
                    value: 'First option',
                },
                {
                    key: '2',
                    value: 'Second option',
                },
                {
                    key: '3',
                    value: 'Third option',
                },
                {
                    key: '4',
                    value: 'Fourth option',
                },
                {
                    key: '5',
                    value: 'Fifth option',
                },
                {
                    key: '6',
                    value: 'Sixth option',
                },
            ],
            pagination: {
                query: '',
                currentPage: 1,
                limit: 20,
                initialId: [],
                searchTimeout: false,
            },
            remoteList: [],
        };
    },
    methods:
    {
        generateRandomList()
        {
            const me = this;

            me.remoteList = [];

            for (let i = 0; i < 100; i += 1)
            {
                const num = parseInt(Math.random() * 100, 10);
                me.remoteList.push(
                    {
                        key: num,
                        value: `${num} option`,
                    },
                );
            }
        },
    },
    computed:
    {
        paginatedList()
        {
            const me = this;

            const items = [];

            for (const item of me.remoteList)
            {
                if (me.pagination.query != null && me.pagination.query !== '')
                {
                    if (item.value.toLowerCase().indexOf(me.pagination.query.toLowerCase()) !== -1)
                    {
                        items.push(item);
                    }
                }
                else
                {
                    items.push(item);
                }
            }

            const currentPage = me.pagination.currentPage - 1;

            const start = currentPage * me.pagination.limit;

            return items.splice(start, me.pagination.limit);
        },
    },
    watch:
    {
        value(val)
        {
            console.log(val);
        },
    },
};
</script>
