<template>
    <div class="lb-select" v-click-outside="clickOutsideHandler" ref="lb-vue-sel-select">
        <div class="lb-select-input" :disabled="disabled" :class="css" v-on:click.stop="clickSelector">
            <div class="lb-select-container">
                <div class="lb-select-item" v-if="allSelectedText && (list.map((item) => item[valueField]).every((item) => value.split(',').includes(item)) || list.map((item) => item[valueField].toString()).every((item) => value.split(',').includes(item))) && value.split(',').length > 5">
                    {{allSelectedText}}</div>
                <template v-else>
                <div v-for="(item, i) in selectedItems" :key="i" class="lb-select-item">
                    <div>{{getDisplayText(item)}}</div>
                    <div v-if="multiselect && disabled !== true" class="lb_remove" v-on:click.stop="selectItem(item)"><svg version="1.1" role="presentation" width="12.571428571428571" height="16" viewBox="0 0 1408 1792"><path d="M1298 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"></path></svg>
                    </div>
                </div>
                </template>
            </div>
        </div>
        <div class="selector" v-if="showSelector">
            <template v-if="multiselect && selectAll">
                <input type="checkbox" v-model="checked" v-on:click="selectAllClick">{{selectAll}}
            </template>
            <template v-if="!pagination && searchBox">
                <input type="text" v-model="filterString">
            </template>
            <div class="selector-container">
                <ul class="selector-list">
                    <li :class="{selected :item.isSelected}"
                    v-for="(item, i) in filteredList"
                    :key="i"
                    v-on:click="selectItem(item);">{{getDisplayText(item)}}</li>
                </ul>
            </div>
            <pagination class="mt-1 p-1" v-if="pagination" v-bind:totalCount="totalCount" v-model="pagination" :list="list" v-on:reload="reload" :search-placeholder="searchPlaceholder" value-field="key" :items-placeholder="itemsPlaceholder"></pagination>
        </div>
    </div>
</template>

<style scoped="">

    .lb-select {
        position: relative;
    }
    .selected {
        background-color: lightblue;
    }
    .lb-select .lb-select-input {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;

        padding: .375rem .75rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #3e515b;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e4e6eb;
        border-radius: .25rem;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }

    .lb-select .lb-select-input .lb-select-container {
        display: flex; /*added*/
        flex-direction: row; /*added*/
        white-space: nowrap;
    }

    .lb-select .lb-select-input .lb-select-item {
        border-radius: 2px;
        background-color: #004b64;
        color: #fff;
        padding: 0 2px;
        fill: #fff;
        margin-right: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lb-select-input[disabled]{
        background-color: rgb(214, 214, 214, 0.5);
    }
    .lb-select-input[disabled] .lb-select-item
    {
        background-color: rgb(0, 75, 100, 0.5);
    }

    .lb-select .lb-select-input .lb-select-item > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .lb-select .lb-select-input .lb-select-item .lb_remove {
        margin: 0 2px;
    }

    .lb-select .selector {
        position: absolute;
        top: calc(1.95rem + 2px);
        left: 0px;
        border: 1px solid #e4e6eb;
        background-color: #fff;
        z-index: 10;
    }

    .lb-select .selector .selector-container {
        max-height: 300px;
        overflow: auto;
    }

    .lb-select .selector .selector-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .lb-select .selector .selector-list li {
        list-style: none;
        margin: 0px;
        padding: 10px;
        width: 100%;
        border-bottom: 1px solid #e4e6eb;
    }

    .lb-select .pagination-container {
        padding: 5px;
    }

</style>

<script>

import ClickOutside from 'vue-click-outside';
import Pagination from 'lb-vue-pagination';

export default
{
    name: 'LbSelect',
    props: {
        value: {
            type: [String, Number],
        },
        list: {
            type: Array,
        },
        pagination: {
            type: Object,
        },
        displayField: {
            type: String,
            default: 'key',
        },
        displayFunc: {
            type: Function,
        },
        valueField: {
            type: String,
            default: 'value',
        },
        multiselect: {
            type: Boolean,
            default: false,
        },
        searchBox: {
            type: Boolean,
            default: false,
        },
        empty: {
            type: Boolean,
            default: false,
        },
        searchPlaceholder: {
            type: String,
            default: undefined,
        },
        itemsPlaceholder: {
            type: String,
            default: undefined,
        },
        totalCount: {
            type: Number,
            default: undefined,
        },
        css: {
            type: String,
            default: 'form-control',
        },
        selectAll: {
            type: String,
            default: undefined,
        },
        allSelectedText: {
            type: String,
            default: undefined,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
    },
    data()
    {
        return {
            showSelector: false,
            selectedItems: [],
            checked: false,
            filterString: '',
        };
    },
    directives: {
        'click-outside': ClickOutside,
    },
    components:
    {
        pagination: Pagination,
    },
    created()
    {
        const me = this;

        me.fillInitialValue();
    },
    methods:
    {
        selectAllClick()
        {
            const me = this;

            if (me.checked === true)
            {
                me.checked = false;
                me.$emit('change', '');
                me.$emit('input', '');

                for (const item of me.list)
                {
                    item.isSelected = false;
                }
            }
        },
        clickSelector()
        {
            const me = this;

            me.$emit('click');

            if (me.disabled !== true)
            {
                me.showSelector = !me.showSelector;
            }
            else
            {
                me.showSelector = false;
            }
        },
        recursChildNodes(childNodes, target)
        {
            for (const node of childNodes)
            {
                if (node === target)
                {
                    return true;
                }

                if (this.recursChildNodes(node.childNodes, target))
                {
                    return true;
                }
            }
            return false;
        },
        clickOutsideHandler(evt)
        {
            if (this.showSelector)
            {
                const [clickedElement] = evt.composedPath();

                if (clickedElement
                && this.recursChildNodes(this.$refs['lb-vue-sel-select'].childNodes, clickedElement))
                {
                    return;
                }

                this.close();
            }
        },
        close()
        {
            const me = this;
            me.showSelector = false;
        },
        reload()
        {
            const me = this;

            me.$emit('reload');
        },
        getDisplayText(item)
        {
            const me = this;

            if (me.displayFunc !== undefined)
            {
                return me.displayFunc(item);
            }

            return item[me.displayField];
        },
        selectItem(item)
        {
            const me = this;

            const index = me.selectedItems.indexOf(item);
            if (me.multiselect)
            {
                if (index === -1)
                {
                    item.isSelected = true;
                    me.selectedItems.push(item);
                }
                else
                {
                    item.isSelected = false;
                    me.selectedItems.splice(index, 1);

                    if (me.selectAll)
                    {
                        me.checked = false;
                    }
                }
            }
            else if (me.empty)
            {
                if (index !== -1)
                {
                    me.selectedItems.splice(0);
                }
                else
                {
                    me.list.forEach((element) =>
                    {
                        element.isSelected = false;
                    });
                    me.selectedItems.splice(0);
                    me.selectedItems.push(item);
                }
            }
            else
            {
                me.list.forEach((element) =>
                {
                    element.isSelected = false;
                });
                me.selectedItems.splice(0);
                me.selectedItems.push(item);
            }

            const valueArr = [];

            for (const val of me.selectedItems)
            {
                valueArr.push(val[me.valueField]);
            }

            me.$emit('change', valueArr.join(','));

            me.$emit('input', valueArr.join(','));

            if (!me.multiselect)
            {
                me.close();
            }
        },
        fillInitialValue()
        {
            const me = this;

            me.selectedItems = [];

            if (!me.list)
            {
                return;
            }

            if (me.list.length === undefined)
            {
                console.error('lb-vue-select: List is not an array');
            }

            if (me.value === undefined || me.value == null)
            {
                return;
            }

            let isNumber = false;
            let tempValue = me.value;

            if (typeof tempValue === 'number')
            {
                tempValue = tempValue.toString();
                isNumber = true;
            }

            const valueArr = tempValue.split(',');

            const valuesFromList = me.list.map((item) =>
            {
                if (item[me.valueField] == null)
                {
                    return null;
                }
                return item[me.valueField].toString();
            });
            if (me.multiselect && me.selectAll && valuesFromList.every((item) => valueArr.includes(item)))
            {
                me.checked = true;
            }

            if (me.multiselect && me.selectAll && me.checked)
            {
                for (const item of me.list)
                {
                    me.selectItem(item);
                }
            }

            for (let val of valueArr)
            {
                if (val === '')
                {
                    continue;
                }
                if (isNumber)
                {
                    val = parseInt(val, 10);
                }
                let foundInList = false;
                for (const item of me.list)
                {
                    if (!me.multiselect)
                    {
                        item.isSelected = false;
                    }

                    if (String(item[me.valueField]) === String(val))
                    {
                        foundInList = true;
                        let found = false;
                        for (const sel of me.selectedItems)
                        {
                            if (String(sel[me.valueField]) === String(val))
                            {
                                found = true;
                            }
                        }
                        if (!found)
                        {
                            item.isSelected = true;
                            me.selectedItems.push(item);
                        }
                    }
                }

                if (!foundInList && me.pagination !== undefined)
                {
                    if (me.multiselect)
                    {
                        if (!me.pagination.initialId.includes(val))
                        {
                            me.pagination.initialId.push(val);
                        }
                    }
                    else
                    {
                        me.pagination.initialId.splice(0);
                        me.pagination.initialId.push(val);
                    }
                }
            }
        },
    },
    computed:
    {
        displayValue()
        {
            const me = this;

            me.setInitialId();

            return me.value;
        },
        filteredList()
        {
            const me = this;

            const items = [];

            if (me.filterString === '')
            {
                return me.list;
            }

            for (const item of me.list)
            {
                if (me.getDisplayText(item).toLowerCase().includes(me.filterString))
                {
                    items.push(item);
                }
            }

            return items;
        },
    },
    watch:
    {
        value()
        {
            const me = this;

            me.fillInitialValue();
        },
        list:
        {
            handler(oldVal, val)
            {
                const me = this;
                if (JSON.stringify(oldVal) !== JSON.stringify(val))
                {
                    me.fillInitialValue();
                }
            },
            deep: true,
        },
        pagination:
        {
            handler()
            {
                const me = this;
                me.$emit('reload', null);
            },
            deep: true,
        },
        checked()
        {
            const me = this;

            if (!me.multiselect || !me.selectAll)
            {
                return;
            }

            me.$nextTick(() =>
            {
                me.fillInitialValue();
            });
        },
    },
};
</script>
